{% extends 'base.html.twig' %}

{# Todo
    1. Fix general css
    2. Add a general page footer (Sitemap etc)
#}

{% block title %}Polaris :: Automated vulnerability assessments{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="home-title-container">
        <div id="title">
            <div class="title-span">Automated vulnerability assessments</div>
            <div class="title-span-small"><span class="text-success">Discover and assess</span> computers and devices on your network.</div>

            {# marketing stuff left, sign up right #}
            <div class="intro-container">
            {# left stuff in wrapper #}
            <div class="intro-left">
                <div class="example-wrapper">
                    <img src="{{ asset('images/polaris_star.png') }}" class="rounded" style="padding-top:1rem">
                    <div class="intro-row">
                        {#<div class="title-square"></div>#}
                        Polaris is an automated vulnerability assessment platform.<br>
                        Through its familiar online environment, Polaris
                        was built to provide an accessible approach to the otherwise daunting task of assessing your internal network.
                    </div>
                    {#<div class="title-square" style="background-color: #8959A8"></div>#}
                </div>
            </div>
            {# right sign up #}
            <div class="intro-right">
                <div class="example-wrapper">
                    <div class="jumbotron right-jumbo">
                        <div class="title-span-small">Sign up and explore your network!</div>
                    {# better ui terms for button, Sign up now!, Scan your network now!, get started now! #}
                    {{ form_start(registrationForm, {'action': path('app_register'), 'attr': {'class': 'container vertical-center align-self-center align-middle'}}) }}
                        {% do registrationForm.email.setRendered %}
                        {{ form_widget(registrationForm.username, {'attr': {'placeholder' : 'Username', 'class': 'form-control'}}) }}
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder' : 'Password', 'class': 'form-control'}}) }}
                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder' : 'Confirm password', 'class': 'form-control'}}) }}
                    <button class="btn btn-lg btn-success btn-block form-control" type="submit">
                        Sign up now!
                    </button>
                    {# OLD BUTTON (LINK)
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('app_register') }}" role="button">Sign up now!</a>
                    </p>#}
                    {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
            {# end intro #}
            </div>

        </div>
    </div>
    <div class="home-title-spacer"></div>
</div>
<div class ="example-wrapper">
    {# marketing stuff left, sign up right #}
    <div class="main-container">
        <div class="main-container-title">Features</div>
        <hr>
        <div class="small-spacer"></div>
        <div class="feature">
            <div class="subheading">Host Discovery</div>
            <img src="{{ asset('images/small_hosts.png') }}" class="feature-img-l img-thumbnail rounded" alt="Host Discovery">
            <div class="desc">
                To gather initial data on a new network, Polaris can examine upto the entire network to discover any devices currently
                active and responding. Helping map out devices on your network, this scan finds systems to assess, as well as discovering additional
                devices you may not have been aware of.
                <br>
                Please note that Polaris is intended for use on networks you have permission to examine only, and does not support scanning of external networks.
            </div>
        </div>
        <hr>
        <div class="feature">
            <div class="subheading">Automated Vulnerability Assessing</div>
            <img src="{{ asset('images/small_vuln.png') }}" class="feature-img-r img-thumbnail rounded" alt="Host Discovery">
            <div class="desc">

                Following discovery of any new host, Polaris will prompt you to initiate a scan of the new device, utilising
                industry standard tools to examine any exposed applications. Using this data, Polaris searches for known vulnerabilities
                of those applications, building an automated vulnerability report of it's findings.
            </div>
        </div>
        <hr>
        <div class="feature">
            <div class="subheading">Easy to use Scan Builder</div>
            <img src="{{ asset('images/small_scan.png') }}" class="feature-img-l img-thumbnail rounded" alt="Host Discovery">
            <div class="desc">
                Empowering users with the latest industry standard cyber security tools, Polaris introduces it's easy and effective
                approach to help users utilise these advanced tools. Doing away with obtuse, difficult command line instructions, the Scan Builder
                ensures anyone can use these tools, by providing simple, clear, explanations and recommendations, users need only to click their preferred options in the responsive javascript design.
            </div>
        </div>
        <hr>
        <div class="feature">
            <div class="subheading">Activity Reporting</div>
            <img src="{{ asset('images/small_a3.png') }}" class="feature-img-r img-thumbnail rounded" alt="Host Discovery">
            <div class="desc">
                    Providing further useful documentation, Polaris features an individualised report of all scan
                activity across your systems, ensuring you have a reliable record of how and when devices were discovered and scanned.
                This report also presents the opportunity to examine the results of these previous scans,
                helping you map changes across your network and devices over time.
            </div>
        </div>

    </div>
       {#<div style="height:5rem;width:5rem;background-color: #28a745"></div>
        Polaris offers a familiar, desktop centered web platform to help you jump straight into exploring your network, without all the the typical hassle of fiddling around with the command line.
        <div style="height:5rem;width:5rem;background-color: #8959A8"></div>#}

        {#<h1 class="display-4">Built for home users</h1>
        <p class="lead">Utilising the best, industry standard, tools and techniques to secure your home network, Spotlight ensures your network is as safe as can be.
        </p>
        <hr class="my-4">
        <p>Spotlight automatically sets up and configures top tools to your custom environment and specifications, helping you secure your home network.
            By producing automatic reports, translating the specifics of these tools, Spotlight provides you with real, practical advice on securing your home network.
            ensures these advanced tools can benefit everyone, no prior experience needed!
            ensuring everyone can benefit from the most advanced tools, without requiring prior experience.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('app_register') }}" role="button">Sign Up!/ Scan your Network Now!</a>
        </p>#}
</div>
{#sign up now box at the bottom#}
<div class="endbox">
    <div class="very-small-spacer"></div>
    <a href="{{ path('app_register') }}" class="endbtn btn btn-lg btn-block btn-success">
        Sign up now!
    </a>
</div>

    {#</div>#}
{% endblock %}
