{% extends 'base.html.twig' %}

{# Todo
    1. Limit page access to logged in users
#}

{% block title %}Hosts · Spotlight{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/host.css') }}">
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="title-container">
        <div id="title">
            <div class="title-span">Discovered Hosts</div>
            <div class="title-span-small"><span class="text-success">Computers and devices</span> on your network.</div>
        </div>
    </div>
    <div class="title-spacer"></div>
    {# Old design
    <h1>{{ app.user.username }}'s Hosts</h1>

    Computers and devices on your network.
    <p></p>
    {#<ul>
         hosts
        <li>Device 1: ip 10.0.0.1</li>
        <li>Device 2: ip 10.0.0.1</li>
    </ul>
    <hr>#}
    {#testing area#}
    {#Last discovery scan {{ app.user.discovery }}#}
    {#All Hosts | Last Scan#}
    {% if(commandTime|default(null)) %}
        <!-- check for most recent -->
        <div class="subheading">Viewing discovery from {{ commandTime|date }}</div>
    {% else %}
        <div class="subheading">Viewing combined Discoveries</div>
    {% endif %}
        <div class="row">
        {% for host in hosts %}
            <div class="col-auto mt-4">
            <div class="card" style="width: 17rem; height: 18rem;">
                <div class="card-color" style="background-color:#ffa99a">
                </div>
                <div class="card-body">
                        <input class="note-box form-control-plaintext" type="text" value="{{ host.note }}" placeholder="Type a note">
                    <hr>
                    <table class="table-striped card-table">
                        <tr>
                            <td>
                            {#<td><svg class="bi bi-house-door-fill" width="1em" height="1em"src="{{ asset('icons/house-door-fill.svg') }}"/></td>#}
                            <svg class="bi bi-house-door-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"  data-toggle="tooltip" title="Host Address">
                                <path d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                                <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
                            </svg>
                            </td>
                            <td>{{ host.address }}</td>
                        </tr>
                        <tr>
                            <td>
                                <svg class="bi bi-display-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" data-toggle="tooltip" title="Operating System">
                                    <path d="M5.75 13.5c.167-.333.25-.833.25-1.5h4c0 .667.083 1.167.25 1.5H11a.5.5 0 010 1H5a.5.5 0 010-1h.75z"/>
                                    <path fill-rule="evenodd" d="M13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 00-.254.302A1.46 1.46 0 001 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 00.538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 00.254-.302 1.464 1.464 0 00.143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 00-.302-.254A1.46 1.46 0 0013.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z" clip-rule="evenodd"/>
                                    <path d="M2 4h12v6H2z"/>
                                </svg>
                            </td>
                            <td>{{ host.detail }}</td>
                        </tr>
                        <tr>
                            <td>
                                <svg class="bi bi-eye-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" data-toggle="tooltip" title="Date first discovered">
                                    <path d="M10.5 8a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z"/>
                                    <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 100-7 3.5 3.5 0 000 7z" clip-rule="evenodd"/>
                                </svg>
                            </td>
                            <td>{{ host.discovery.CompletionTime | date("F j, Y") }}</td>
                        </tr>
                        <tr>
                            <td>
                                <svg class="bi bi-clock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" data-toggle="tooltip" title="Date last seen">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 3.5a.5.5 0 00-1 0V9a.5.5 0 00.252.434l3.5 2a.5.5 0 00.496-.868L8 8.71V3.5z" clip-rule="evenodd"/>
                                </svg>
                                &emsp;
                            </td>
                            <td>{{ host.lastSeenBy.CompletionTime | date("F j, Y") }}</td>
                        </tr>
                    {#<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
                    </table>
                    <a href="{{ path('app_host_view', { 'slug': host.md5 })}}" class="btn btn-success mt-2 p-2 btn-block">View Host</a>
                </div>
            </div>
            </div>
        {% else %}
            {# there are no hosts yet - new account etc#}
            <a id="makeScan" href="{{ path('app_scan') }}" style="padding-left: 16rem">
                <div id="gotoRecentContainer" class="sys-info very-small-spacer">
                    <svg class="detected bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                    </svg>
                    There are no <b>discovered hosts</b> yet!<br>
                    <b>Click here</b> to start with a <b>new scan</b>.
                </div>
            </a>
            <div class="subheading"></div>
        {% endfor %}
    </div>
    {% if(commandForm|default(null)) %}
            <hr class="spacer">
            Don't see the devices you were expecting?<br>
            Scan your network for additional devices.<br>
            <p></p>

        <hr>
        <strong>Advanced options</strong>
        {{ form_start(CommandForm) }}

        {#{% for test in CommandForm.target %}#}
        {# todo - truncate user input + js add new target form button #}
        {{ form_label(CommandForm.target) }}
        **add new target**
        <br>

            {% for emailField in CommandForm.target %}
                    {{ form_widget(emailField) }}
            {% endfor %}
        <br>

        {#{% endfor %}#}

        {#{{ form_row(CommandForm.target) }}#}
        <hr>
        <button class="btn btn-lg btn-primary" type="submit">
            Scan
        </button>
        {{ form_end(CommandForm) }}
    {% endif %}
    {#advanced controls?
    <hr>
    Looking for a specific device?
    Scan by IP#}


    {#split into 3 sections
    <div id="scan buttons">
        <div class="row">
            <button class="col-sm btn btn-lg btn-primary form-control" type="submit">
                Scan a network range
            </button>
            <button class="col-sm btn btn-lg btn-primary form-control" type="submit">
                Scan by IP address
            </button>
        </div>
    </div>#}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/note_add.js') }}"></script>
{% endblock %}

