{% extends 'base.html.twig' %}

{# Todo
    1. Limit page access to logged in users
#}

{% block title %}Hosts · Spotlight{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/host.css') }}">
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ app.user.username }}'s Hosts</h1>

    Computers and devices on your network.
    <p>
    {#<ul>
         hosts
        <li>Device 1: ip 10.0.0.1</li>
        <li>Device 2: ip 10.0.0.1</li>
    </ul>
    <hr>#}
    {#testing area#}
    All Hosts | Last Scan
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="row">Address</th>
            <th scope="row">Operating System</th>
            <th scope="row">Discovered</th>
            <th scope="row">Last Seen</th>
            <th scope="row">Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for host in hosts %}
            <tr onclick="window.location='{{ path('app_host_view', { 'slug': host.md5 })}}';" onmouseover="style.cursor = 'pointer'">
                {# issue here is that 10.10.10.181 is read as {10:file}.{10:extension}.{10:extension}.{181:extension} etc#}
                {# tomorrow/tonight try some other url_encoding techniques | url_encode is a no-go #}
                {# address #}
                {#<td><a href="{{ path('app_host_view', { 'slug': host.md5 })}}">{{ host.address }}</a></td>#}
                <td>{{ host.address }}</td>
                {# detail #}
                <td>{{ host.detail }}</td>
                {# discovery#}
                {% if (host.discovery) %}
                    {# was it discovered today?, if so use time not date#}
                    {% if (host.discovery.CompletionTime | date("Y-m-d") == "now"| date("Y-m-d")) %}
                        <td>{{ host.discovery.CompletionTime | date("g:i a") }}</td>
                    {% else %}
                        <td>{{ host.discovery.CompletionTime | date("F j, Y") }}</td>
                    {% endif %}
                {# should be unreachable as discovery is now a required field #}
                {% else %}
                    <td> Not scanned Yet</td>
                {% endif %}
                {# last seen By #}
                {% if (host.lastSeenBy.CompletionTime | date("Y-m-d") == "now"| date("Y-m-d")) %}
                    <td>{{ host.lastSeenBy.CompletionTime | date("g:i a") }}</td>
                {% else %}
                    <td>{{ host.lastSeenBy.CompletionTime | date("F j, Y") }}</td>
                    {#<td>{{ host.note }}</td>#}
                {% endif %}
                {# note #}
                <td><input class="note-box form-control-plaintext" type="text" value="{{ host.note }}" readonly size="15"></td>
                {#<td>
                    <a href="{{ path('report_show', {'id': report.id}) }}">show</a>
                    <a href="{{ path('report_edit', {'id': report.id}) }}">edit</a>
                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no hosts found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr class="spacer">
        Don't see the devices you were expecting?<br>
        Scan your network for additional devices.<br>
        <p></p>

    <hr>
    <strong>Advanced options</strong>
    {{ form_start(CommandForm) }}

    {#{% for test in CommandForm.target %}#}
    {# todo - truncate user input + js add new target form button #}
    {{ form_label(CommandForm.target) }}
    **add new target**
    <br>

        {% for emailField in CommandForm.target %}
                {{ form_widget(emailField) }}
        {% endfor %}
    <br>

    {#{% endfor %}#}

    {#{{ form_row(CommandForm.target) }}#}
    <hr>
    <button class="btn btn-lg btn-primary" type="submit">
        Scan
    </button>
    {{ form_end(CommandForm) }}
    {#advanced controls?
    <hr>
    Looking for a specific device?
    Scan by IP#}


    {#split into 3 sections
    <div id="scan buttons">
        <div class="row">
            <button class="col-sm btn btn-lg btn-primary form-control" type="submit">
                Scan a network range
            </button>
            <button class="col-sm btn btn-lg btn-primary form-control" type="submit">
                Scan by IP address
            </button>
        </div>
    </div>#}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/note_add.js') }}"></script>
{% endblock %}

