{% extends 'base.html.twig' %}

{# Todo
    1. Limit page access to logged in users
#}

{% block title %}Report · Polaris{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/host.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="title-container">
        <div id="title">
            <div class="title-span">Assessment Results</div>
            {% if(host.note) %}
                <div class="title-span-small">&emsp;"{{ host.note }}"<span class="text-success"> • {{ host.address }} •</span></div>
            {%  else %}
                <div class="title-span-small text-success">• {{ host.address }} •</div>
            {% endif %}
        </div>
    </div>
    <div class="title-spacer"></div>
    {% if(host.detail) %}
        {# last vuln is last anything atm, includes disc#}
        {# all the does scan exist? checks are later in the code - move them up here#}
        {# MAYBE PUT THIS UNDER SUBHEADING TO SPACE <p></p>#}

        {#{% if(host.lastSeenBy.otp == ) %}
            <!-- check for most recent -->
            <div class="subheading">Viewing discovery from {{ commandTime|date }}</div>
        {% else %}
            <div class="subheading">Viewing combined Discoveries</div>
        {% endif %}#}
        <div class="subheading">Viewing most recent Scan<br>
            Assessed on {{ host.lastSeenBy.CompletionTime|date }}</div>
        <strong class="small-spacer">View historical assessment</strong>
        <select class="custom-select" id="scanSelect">
            {% for scan in host.scans|reverse %}
                <option id="{{ scan.md5 }}">{{ scan.command.completionTime|date }}</option>
            {% endfor %}
        </select>
        {#Last assessment: {{ host.lastSeenBy.CompletionTime|date }}#}
        {# testing if this is the most recent {% if {{ host.lastSeenBy.CompletionTime|date }} == {{  }} %}#}
        <p></p>

        {% if(CommandForm|default(null)) %}
            {{ form_start(CommandForm) }}
                {% do CommandForm.target.setRendered %}
                    <button class="btn btn-lg btn-success" type="submit">
                    Scan
                    </button>
            {{ form_end(CommandForm) }}
            <hr class="small-spacer">
        {% endif %}
        <strong>System Information</strong><br>
        <p></p>
        <div class="sys-info table-responsive">
            <table class="table-striped sys-table p-0">
                <tr>
            {% if (host.discovery.CompletionTime | date("Y-m-d") == "now"| date("Y-m-d")) %}
                <td><strong>Date Discovered:</strong></td><td> {{ host.discovery.CompletionTime | date("g:i a") }}</td>
            {% else %}
                <td><strong>Date Discovered:</strong></td><td> {{ host.discovery.CompletionTime | date("F j, Y") }}</td>
            {% endif %}
                </tr>
                <tr>
                    <td><strong>Operating System:</strong></td><td> {{ host.detail }}</td>
                </tr>
                <tr>
                    <td><strong>Hostname:</strong></td><td> {{ host.hostname }}</td>
                </tr>
            {#Last update: 2019<br>#}
            </table>
        </div>
        <hr>
        <strong>Vulnerability Summary</strong>

        <svg class="bi bi-question-circle-fill vuln-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" data-toggle="modal" data-target="#exampleModalCenter">
            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" clip-rule="evenodd"/>
        </svg>

        {#<button type="button" class="btn btn-secondary btn-sm small"  data-toggle="modal" data-target="#exampleModalCenter"></button>#}
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Vulnerability severity explanation
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        All detected software vulnerabilities have corresponding "CVSS" scores. These score summarises the severity of the vulnerability by assessing the following metrics.
                        <hr>
                        <p></p>
                        <ul>
                            <li>
                                <b>Exploitability</b><br>How easily an attacker can exploit the vulnerability.
                            </li>
                            <p></p>
                            <li>
                                <b>Impact</b><br>The impact a successful exploitation would have on a vulnerable system.
                            </li>
                            <p></p>
                            <li>
                                <b>Relevance</b><br>Time dependant factors including the availability of patches and fixes.
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <p></p>
        {% set lastScan = host.scans|last %}
        {% if lastScan %}
            {# low < 4; mid <7; high < 9; crit = 10#}
            {% set crit_vuln = 0%}
            {% set high_vuln = 0 %}
            {% set mid_vuln = 0 %}
            {% set low_vuln = 0 %}
            {#Most recent scan detected:
            {{ lastScan.id }}<br>#}
            {% for port in lastScan.ports %}
            {#{{ port.cpe }} has {{ port.cves|length }} potential vulnerabilities#}
                {% for cve in port.cves %}
                    {% if cve.cvss > 8.9 %}
                        {% set crit_vuln = crit_vuln + 1%}
                    {% elseif cve.cvss > 6.9 %}
                        {% set high_vuln = high_vuln + 1%}
                    {% elseif cve.cvss > 3.9 %}
                        {% set mid_vuln = mid_vuln + 1%}
                    {% else %}
                        {% set low_vuln = low_vuln + 1%}
                    {% endif %}
            {#{{ cve.name }} === {{ cve.cvss }}<br>#}
                {% endfor %}
            {% endfor %}
            {#<div class="justify-content-center align-items-center inline-block">#}
            <ul class="list-group list-group-horizontal vuln-group mt-2">

                <li class="list-group-item vuln-cat">
                    <strong>critical</strong>
                    <div class="bg-danger rounded-circle"><h2>{{ crit_vuln }}</h2></div>
                </li>
                <li class="list-group-item vuln-cat">
                    <strong >high</strong>
                    <div class="bg-warning rounded-circle"><h2>{{ high_vuln }}</h2></div>
                </li>
                <li class="list-group-item vuln-cat">
                    <strong class="p6">medium</strong>
                    <div class="bg-info rounded-circle"><h2>{{ mid_vuln }}</h2></div>
                </li>
                <li class="list-group-item vuln-cat">
                    <strong>low</strong>
                    <div class="bg-secondary rounded-circle"><h2>{{ low_vuln }}</h2></div>
                </li>
            </ul>
            {#</div>#}
        {% endif %}
        <hr>
        <strong>Scan Information</strong><br>
        <p></p>
        <div class="sys-info table-responsive">
            <table class="table-striped sys-table p-0">
                <tr>
                    <td><strong>Services detected :</strong></td><td>{{ lastScan.ports|length }}</td>
                </tr>
        {% for port in lastScan.ports %}
            <tr>
                <td><strong>{{ port.service }}</strong></td><td>{{ port.version }}</td>
            </tr>
        {% endfor %}
            </table>
        </div>
        <p></p>

        {# individual port boxes#}
        {% for port in lastScan.ports %}
            {% if port.cves|length > 0 %}
                <div class="sys-info bg-warning">
                    <svg class="detected bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                    </svg>
                    <b>{{ port.cves|length }}</b> potential vulnerabilities detected against version <b>{{ port.cpe[-5:] }}</b> of <b>{{ port.version }}</b>.
                    {#Analysis has found <b>{{ port.service }}</b> software, <b>{{ port.version }}</b> was detected to have
                     These vulnerabilities match the detected version {{ port.cpe[-5:] }} of software.
                    <table class="table-striped sys-table p-0">
                            <tr>
                                <td>{{ port.service }}</td><td>{{ port.version }}</td><td>{{ port.cpe[-5:] }}</td>
                            </tr>
                    </table>#}
                </div>
                <div class="sys-info addon-box table-responsive">
                    <table class="table-striped sys-table p-0 table-hover">
                    <!-- listing vulnerabilities -->
                    {% for cve in port.cves|orderbyCVSS %}
                        <tr class="cve-row" data-toggle="modal" data-target="#Modal-{{ cve.name }}">

                            <div class="modal fade" id="Modal-{{ cve.name }}" tabindex="-1" role="dialog" aria-labelledby="Modal-{{ cve.name }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">{{ cve.name }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"> {{ cve.summary }}
                                            <hr class="spacer">
                                            <a href="https://nvd.nist.gov/vuln/detail/{{ cve.name }}#p_lt_WebPartZone1_zoneCenter_pageplaceholder_p_lt_WebPartZone1_zoneCenter_VulnerabilityDetail_VulnFormView_VulnHyperlinksPanel" type="button" class="btn btn-success" >View advisories and Solutions</a>
                                            <p></p>
                                            Note: Link directs to external site NIST.gov
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <td>{{ cve.name }}</td>
                            <td>{{ cve.cvss }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <p></p>
            {% endif %}
        {% endfor %}
        {# todo - accordion display #}
        {#  OLD VIEW - SHOWING ALL SCANS AT ONCE (NOT GOOD UX)
        <div id="accordion" class="spacer">
        {% for scan in host.scans %}
            <div class="card">
                {# maybe change me away from scan.id
                <div class="card-header" id="heading{{ scan.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ scan.id }}" aria-expanded="true" aria-controls="collapse{{ scan.id }}">
                            <strong>{{ scan.command.completionTime | date }}</strong>
                        </button>
                    </h5>
                </div>

                <div id="collapse{{ scan.id }}" class="collapse show" aria-labelledby="heading{{ scan.id }}" data-parent="#accordion">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="row">Port&emsp;</th>
                                <th scope="row">Status&emsp;</th>
                                <th scope="row">Service&emsp;</th>
                                <th scope="row">Version&emsp;</th>
                            </tr>
                            </thead>
                            {% for port in scan.ports %}
                                <tr>
                                    <td>{{ port.number }} - {{ port.protocol }}&emsp;</td>
                                    <td>{{ port.status }}&emsp;</td>
                                    <td>{{ port.service }}&emsp;</td>
                                    <td>{{ port.version }}&emsp;</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>#}
    {% else %}
        {% if(CommandForm|default(null)) %}
            This device has never been scanned, please <a href="#">click here</a> to scan now

            {# should have list of scan presets to display and choose from (changing options etc)#}
            {{ form_start(CommandForm) }}
            {% do CommandForm.target.setRendered %}
                    <button class="btn btn-lg btn-primary" type="submit">
                        Scan
                    </button>
            {{ form_end(CommandForm) }}
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/command_display.js') }}"></script>
{% endblock %}