{% extends 'base.html.twig' %}

{# Todo
    1. Limit page access to logged in users
#}

{% block title %}Report · Polaris{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/host.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="title-container">
        <div id="title">
            <div class="title-span">Assessment Results</div>
            {% if(host.note) %}
                <div class="title-span-small">&emsp;"{{ host.note }}"<span class="text-success"> • {{ host.address }} •</span></div>
            {%  else %}
                <div class="title-span-small text-success">• {{ host.address }} •</div>
            {% endif %}
        </div>
    </div>
    <div class="title-spacer"></div>

    {#is there a pending scan for this host?#}
    {% if pendingScan is defined %}
    {% if pendingScan == true %}
    <div id="pendingInfoBox" class="sys-info very-small-spacer bg-info">
        <button id="closePendingInfo" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <svg class="detected bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
        </svg>
        This host has scans <b>pending</b>.<br>
        <b>Run your client now</b> to scan.
    </div>
    <div id="pendingInfoSpacer" class="subheading"></div>
    {% endif %}
    {% endif %}


    {% if(host.detail) %}
        {# MAYBE PUT THIS UNDER SUBHEADING TO SPACE <p></p>#}

        {# was a selectedScan provided, if not, make the selected Scan the most recent scan#}
        {% if selectedScan is not defined %}
            {%  set selectedScan = host.scans|last %}
        {% endif %}

        {% if (selectedScan.command.otp != host.lastSeenBy.otp) %}
            <a id="gotoRecentLink" href="{{ path('app_host_view', { 'slug': host.md5 })}}">
            <div id="gotoRecentContainer" class="sys-info very-small-spacer">
                <svg class="detected bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                </svg>
                You are viewing a <b>historical scan</b>.<br>
                <b>Click here</b> to view the <b>most recent scan</b>.
            </div>
            </a>
            <div class="subheading"></div>
            <div class="subheading">Assessed on {{ selectedScan.command.CompletionTime|date }}</div>
            {% else %}
                <div class="subheading">Viewing most recent Scan<br>
                    Assessed on {{ host.lastSeenBy.CompletionTime|date }}</div>
        {% endif %}
        <strong class="small-spacer">View historical assessment</strong>
        <select class="custom-select" id="scanSelect">
            {% for scan in host.scans|reverse %}
                {% if (scan.md5 == selectedScan.md5) %}
                    <option selected id="{{ scan.md5 }}">{{ scan.command.completionTime|date }}</option>
                {% else %}
                    <option id="{{ scan.md5 }}">{{ scan.command.completionTime|date }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {# testing if this is the most recent {% if {{ host.lastSeenBy.CompletionTime|date }} == {{  }} %}#}
        <p></p>

        {% if(CommandForm|default(null)) %}
            {{ form_start(CommandForm) }}
                {% do CommandForm.target.setRendered %}
                    <button class="btn btn-lg btn-success" type="submit">
                    Scan now
                    </button>
            {{ form_end(CommandForm) }}
        {% endif %}
        <hr class="small-spacer">
        <strong>System Information</strong><br>
        <p></p>
        <div class="sys-info table-responsive">
            <table class="table-striped sys-table p-0">
                <tr>
            {% if (host.discovery.CompletionTime | date("Y-m-d") == "now"| date("Y-m-d")) %}
                <td><strong>Date Discovered:</strong></td><td> {{ host.discovery.CompletionTime | date("g:i a") }}</td>
            {% else %}
                <td><strong>Date Discovered:</strong></td><td> {{ host.discovery.CompletionTime | date("F j, Y") }}</td>
            {% endif %}
                </tr>
                <tr>
                    <td><strong>Operating System:</strong></td><td> {{ host.detail }}</td>
                </tr>
                <tr>
                    <td><strong>Hostname:</strong></td><td> {{ host.hostname }}</td>
                </tr>
            {#Last update: 2019<br>#}
            </table>
        </div>
        <hr>
        <strong>Vulnerability Summary</strong>

        <svg class="bi bi-question-circle-fill vuln-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" data-toggle="modal" data-target="#exampleModalCenter">
            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" clip-rule="evenodd"/>
        </svg>

        {#<button type="button" class="btn btn-secondary btn-sm small"  data-toggle="modal" data-target="#exampleModalCenter"></button>#}
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Vulnerability severity explanation
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        All detected software vulnerabilities have corresponding "CVSS" scores. These score summarises the severity of the vulnerability by assessing the following metrics.
                        <hr>
                        <p></p>
                        <ul>
                            <li>
                                <b>Exploitability</b><br>How easily an attacker can exploit the vulnerability.
                            </li>
                            <p></p>
                            <li>
                                <b>Impact</b><br>The impact a successful exploitation would have on a vulnerable system.
                            </li>
                            <p></p>
                            <li>
                                <b>Relevance</b><br>Time dependant factors including the availability of patches and fixes.
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <p></p>
        {% if selectedScan %}
            {% set crit_vuln = 0%}
            {% set high_vuln = 0 %}
            {% set mid_vuln = 0 %}
            {% set low_vuln = 0 %}
            {% for port in selectedScan.ports %}
                {% for cve in port.cves %}
                    {% if cve.cvss > 8.9 %}
                        {% set crit_vuln = crit_vuln + 1%}
                    {% elseif cve.cvss > 6.9 %}
                        {% set high_vuln = high_vuln + 1%}
                    {% elseif cve.cvss > 3.9 %}
                        {% set mid_vuln = mid_vuln + 1%}
                    {% else %}
                        {% set low_vuln = low_vuln + 1%}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <ul class="list-group list-group-horizontal vuln-group mt-2">

                <li class="list-group-item vuln-cat">
                    <strong>critical</strong>
                    <div class="bg-danger rounded-circle"><h2>{{ crit_vuln }}</h2></div>
                </li>
                <li class="list-group-item vuln-cat">
                    <strong >high</strong>
                    <div class="bg-warning rounded-circle"><h2>{{ high_vuln }}</h2></div>
                </li>
                <li class="list-group-item vuln-cat">
                    <strong class="p6">medium</strong>
                    <div class="bg-info rounded-circle"><h2>{{ mid_vuln }}</h2></div>
                </li>
                <li class="list-group-item vuln-cat">
                    <strong>low</strong>
                    <div class="bg-secondary rounded-circle"><h2>{{ low_vuln }}</h2></div>
                </li>
            </ul>
        {% endif %}
        <hr>
        <strong>Scan Information</strong><br>
        <p></p>
        <div id="detectedServices">
            <div class="servInfo table-responsive">
            <table class="table-striped sys-table p-0">
                <tbody class="servRow">
                {#<tr class="servRow">#}
                    {# TODO - PUT A (?) AFTER THE PORT COUNT, LIST ALL - PORT NUM, SERV, VER#}
                    {#<td><strong>Open ports detected :</strong></td><td>{{ selectedScan.ports|length }}</td>#}
                <tr class="bg-warning">
                    <td><strong>Open ports detected :</strong></td>
                    <td>
                        <b>{{ selectedScan.ports|length }}</b> &emsp;
                        <svg class="bi bi-question-circle-fill vuln-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" data-toggle="modal" data-target="#AllPorts">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" clip-rule="evenodd"/>
                        </svg>
                    </td>
                </tr>
                {#</tr>#}
                {% if extraPorts is defined %}
                    {% for p in extraPorts %}
                        {% if p == "domain" %}
                        <tr class="bg-info">
                            <td><strong>DNS Server</strong></td>
                            <td>
                                <svg class="bi bi-question-circle-fill vuln-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" data-toggle="modal" data-target="#DNSModal">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" clip-rule="evenodd"/>
                                </svg>
                            </td>
                        </tr>
                        {% elseif p == "ldap" %}
                            <tr class="bg-info">
                                <td><strong>LDAP Directory</strong></td>
                                <td>
                                    <svg class="bi bi-question-circle-fill vuln-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" data-toggle="modal" data-target="#Modal-LDAP">
                                        <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" clip-rule="evenodd"/>
                                    </svg>
                                </td>
                            </tr>
                        {% elseif p == "telnet?" %}
                            <tr class="bg-warning">
                                <td><strong>Telnet server</strong></td>
                                <td>
                                    <svg class="bi bi-question-circle-fill vuln-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" data-toggle="modal" data-target="#Modal-Telnet">
                                        <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" clip-rule="evenodd"/>
                                    </svg>
                                </td>
                            </tr>
                        {% elseif p == "smb" %}
                            <tr class="bg-info">
                                <td><strong>SMB Share</strong></td>
                                <td>
                                    <svg class="bi bi-question-circle-fill vuln-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" data-toggle="modal" data-target="#Modal-SMB">
                                        <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM6.57 6.033H5.25C5.22 4.147 6.68 3.5 8.006 3.5c1.397 0 2.673.73 2.673 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.355H7.117l-.007-.463c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.901 0-1.358.603-1.358 1.384zm1.251 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" clip-rule="evenodd"/>
                                    </svg>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
        {% for port in selectedScan.ports %}
            {% if port.cpe != "" %}
            <tr class="servRow">
                <td><strong>{{ port.service }}</strong></td><td>{{ port.version }}</td>
            </tr>
            {% endif %}
        {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <p></p>

        {# MODAL BOX FOR ALL PORTS#}
        <div class="modal fade" id="AllPorts" tabindex="-1" role="dialog" aria-labelledby="AllPorts" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Open port detection details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">This host has <b>{{ selectedScan.ports|length }}</b> open ports detected.
                        From these open ports, only those with <b>meaningful version data</b> are automatically analysed and listed inside the Scan Information summary.
                        <hr class="small-spacer">
                        Although automated analysis was not able to detect significant information from the remaining ports,
                        it is strongly recommended you review the following services manually to ensure these services are running as expected.
                        <hr class="very-small-spacer">

                        {# display all ports table #}
                        <div class="table-responsive">
                            <table class="table-striped sys-table p-0">
                                <tbody class="servRow">
                                    <th>port&nbsp;</th>
                                    <th>service&nbsp;</th>
                                    <th>version&nbsp;</th>
                        {% for port in selectedScan.ports %}
                                <tr class="servRow">
                                    <td><strong>{{ port.number }}</strong>/{{ port.protocol }}&nbsp;</td><td><strong>{{ port.service }}</strong></td><td>{{ port.version }}</td>
                                </tr>
                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {# MODAL BOX FOR LDAP #}
        <div class="modal fade" id="Modal-LDAP" tabindex="-1" role="dialog" aria-labelledby="Modal-LDAP" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">LDAP Directory Servers</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">This host operates as a <b>LDAP Directory Server</b>.
                        This means that this computer stores lots of data that you can login to access.
                        LDAP on it's own <b>does not hide connections</b> from other network users, allowing <b>other users on your network to steal sensitive data</b> during LDAP connections.
                        <hr class="small-spacer">
                        {# also link to explain breifly what SSL is - thought to be honest it's completely infeasible set up an LDAP server without atleast being aware of encryption #}
                        <b>To prevent</b> against this, it's important to ensure that you have set up LDAP to <b>run over SSL</b>,
                        {# provide links to make a strong password  - (?) button #}
                        And that you you protect access with a <b>strong password</b>.
                        <hr class="small-spacer">
                        <a href="https://jumpcloud.com/blog/ldap-vs-ldaps" type="button" class="btn btn-success" >Read more online</a>
                        <p></p>
                        Note: Link directs to external site jumpcloud.com
                    </div>
                </div>
            </div>
        </div>

        {# MODAL BOX FOR SMB #}
        <div class="modal fade" id="Modal-SMB" tabindex="-1" role="dialog" aria-labelledby="Modal-SMB" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">SMB Shares</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"><b>SMB</b> is a protocol to <b>share files and resources</b> with another computer on your network.
                        <b>Using SMB is a reliable way</b> to share resources across your network, however older versions of this protocol are not correctly secured and can allow attackers to take control of your computer.
                        <hr class="small-spacer">
                        <b>To protect</b> against this, it's important to ensure that you are using both the <b>latest version of SMB</b>,
                        {# provide links to make a strong password  - (?) button #}
                        And that you have a <b>strong password</b> on your computer.
                        <hr class="small-spacer">
                        <a href="https://nordvpn.com/blog/what-is-smb/" type="button" class="btn btn-success" >Read more online</a>
                        <p></p>
                        Note: Link directs to external site nordvpn.com
                    </div>
                </div>
            </div>
        </div>

        {# MODAL BOX FOR TELNET #}
        <div class="modal fade" id="Modal-Telnet" tabindex="-1" role="dialog" aria-labelledby="Modal-Telnet" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Telnet Servers</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"><b>Telnet</b> is an <b>old</b> protocol to connect to other computers on a network.
                        Being an <b>older protocol</b>, <b>Telnet</b> was not built with security in mind, and as a result <b>does not hide connections</b> from other network users, allowing <b>hackers to steal sensitive data</b> during Telnet connections.
                        <hr class="small-spacer">
                        <b>To protect</b> against this, it's recommended to switch to using SSH instead of Telnet.
                        <hr class="small-spacer">
                        <a href="https://kb.iu.edu/d/aelc" type="button" class="btn btn-success" >Read more online</a>
                        <p></p>
                        Note: Link directs to external site kb.iu.edu
                    </div>
                </div>
            </div>
        </div>

        {# MODAL BOX FOR DNS SERVICE - EXTRA INFO #}
        <div class="modal fade" id="DNSModal" tabindex="-1" role="dialog" aria-labelledby="DNSModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Domain Name System (DNS) Servers
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {# some of this information is from https://www.acunetix.com/blog/articles/dns-zone-transfers-axfr/#}
                    <div class="modal-body">
                        This host operates as a <b>DNS Server</b>.<br>
                        This means that this host helps computers on its network locate each other by translating computer "hostnames" into machine-readable IP addresses.
                        <hr>
                        <p></p>
                        Common attacks against these servers include.
                        <ul><li><b>DNS Zone transfers</b><br>A non-authenticated attacker asks the DNS server for a list of all the other computers on the network, helping them find targets.</li></ul>
                        <p></p>
                        <b>To protect</b> against this attack, it's recommended to only allow zone transfers from trusted IP addresses.
                        {% if "indows" in host.detail %}
                            Being a <b>Windows computer</b>, you can do this using Microsoft's "<b>DNS Manager</b>" tool by checking "<b>Only allow from access from secondaries</b>".
                            <hr class="small-spacer">
                            <a href="https://www.techrepublic.com/article/lock-it-down-block-dns-zone-transfers-to-protect-your-servers/" type="button" class="btn btn-success" >Read more online</a>
                            <p></p>
                            Note: Link directs to external site www.techrepublic.com
                        {% else %}
                            Being a <b>Linux system</b>,
                            You can do this by editing <kbd>/etc/named.conf</kbd>
                            and changing allow-transfer setting to <kbd>allow-transfer { trusted-servers; };</kbd>
                            <hr class="small-spacer">
                            <a href="https://www.cyberciti.biz/tips/howto-restrict-unauthorized-zone-transfers-dns-bind.html" type="button" class="btn btn-success" >Read more online</a>
                            <p></p>
                            Note: Link directs to external site www.cyberciti.biz
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>


        {# individual port boxes#}
        {% for port in selectedScan.ports %}
            {% if port.cves|length > 0 %}
                <div class="sys-info bg-warning">
                    <svg class="detected bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                    </svg>
                    <b>{{ port.cves|length }}</b> potential vulnerabilities detected against version <b>{{ port.cpe|cpeVersion }}</b> of <b>{{ port.version }}</b>.
                    {#Analysis has found <b>{{ port.service }}</b> software, <b>{{ port.version }}</b> was detected to have
                     These vulnerabilities match the detected version {{ port.cpe[-5:] }} of software.
                    <table class="table-striped sys-table p-0">
                            <tr>
                                <td>{{ port.service }}</td><td>{{ port.version }}</td><td>{{ port.cpe[-5:] }}</td>
                            </tr>
                    </table>#}
                </div>
                <div class="sys-info addon-box table-responsive">
                    <table class="table-striped sys-table p-0 table-hover">
                    <!-- listing vulnerabilities -->
                    {% for cve in port.cves|orderbyCVSS %}
                        <tr class="cve-row" data-toggle="modal" data-target="#Modal-{{ cve.name }}">

                            <div class="modal fade" id="Modal-{{ cve.name }}" tabindex="-1" role="dialog" aria-labelledby="Modal-{{ cve.name }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">{{ cve.name }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"> {{ cve.summary }}
                                            <hr class="spacer">
                                            <a href="https://nvd.nist.gov/vuln/detail/{{ cve.name }}#p_lt_WebPartZone1_zoneCenter_pageplaceholder_p_lt_WebPartZone1_zoneCenter_VulnerabilityDetail_VulnFormView_VulnHyperlinksPanel" type="button" class="btn btn-success" >View advisories and Solutions</a>
                                            <p></p>
                                            Note: Link directs to external site NIST.gov
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <td>{{ cve.name }}</td>
                            <td>{{ cve.cvss }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <p></p>
            {% endif %}
        {% endfor %}
        {# todo - accordion display #}
        {#  OLD VIEW - SHOWING ALL SCANS AT ONCE (NOT GOOD UX)
        <div id="accordion" class="spacer">
        {% for scan in host.scans %}
            <div class="card">
                {# maybe change me away from scan.id
                <div class="card-header" id="heading{{ scan.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ scan.id }}" aria-expanded="true" aria-controls="collapse{{ scan.id }}">
                            <strong>{{ scan.command.completionTime | date }}</strong>
                        </button>
                    </h5>
                </div>

                <div id="collapse{{ scan.id }}" class="collapse show" aria-labelledby="heading{{ scan.id }}" data-parent="#accordion">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="row">Port&emsp;</th>
                                <th scope="row">Status&emsp;</th>
                                <th scope="row">Service&emsp;</th>
                                <th scope="row">Version&emsp;</th>
                            </tr>
                            </thead>
                            {% for port in scan.ports %}
                                <tr>
                                    <td>{{ port.number }} - {{ port.protocol }}&emsp;</td>
                                    <td>{{ port.status }}&emsp;</td>
                                    <td>{{ port.service }}&emsp;</td>
                                    <td>{{ port.version }}&emsp;</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>#}
    {% else %}
        {% if(CommandForm|default(null)) %}
            {{ form_start(CommandForm) }}
            {% do CommandForm.target.setRendered %}
                <div id="newScanBox" class="sys-info very-small-spacer">
                    <svg class="detected bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                    </svg>
                    This host has <b>never been scanned</b>.<br>
                    <b>Click here</b> to prepare a <b>scan now</b>.
                </div>
            <div class="subheading"></div>
            <div class="subheading">No scan data for assessment.</div>
            <div class="small-spacer"></div>
            <hr>
            <div class="small-spacer"></div>
            {#This device has never been scanned, please <a href="#">click here</a> to scan now#}

            {# should have list of scan presets to display and choose from (changing options etc)#}
                    <button id="submitScanBtn" class="btn btn-lg btn-success" type="submit">
                        Scan now
                    </button>
            {{ form_end(CommandForm) }}
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/command_display.js') }}"></script>
{% endblock %}