{% extends 'base.html.twig' %}

{# Todo
    1. Limit page access to logged in users
#}

{% block title %}Hosts · Spotlight{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Scan ready!</h1>

    Your request has been prepared and has been issued to your client!
    <p>
    <hr class="spacer">
        Don't have the client yet?<br>
        Download the it <a href="{{ path('app_download') }}">now!</a>
    <hr class="spacer">
    {% if userOS is defined %}
        {% if userOS == "Windows" %}
    <div id="detectionInfo">
            Instructions provided are for Windows systems.<br>
            Did we detect your system wrong? <a href="#">Switch to Linux instructions.</a>
    </div>
        {% else %}
    <div id="detectionInfo">
            Instructions provided are for Linux systems.<br>
            Did we detect your system wrong? <a href="#">Switch to Windows instructions.</a>
    </div>
    <div id="instructions" class="small-spacer">
        <div class="subsubheading">To use the client:</div>
        <ul>
        {#Navigate to your downloads directory:<br>#}
            <li>Navigate to your specified download directory:<br></li>
        &emsp;<kbd>cd ~/Downloads</kbd>
            <li>Run the client using python:<br></li>
            {% if filename is defined %}
                &emsp;<kbd>python  {{ filename }}</kbd></li>
            {% else %}
                &emsp;<kbd>python Scanner.py</kbd></li>
            {% endif %}
        </ul>
    </div>
        {% endif %}
    {% endif %}

</div>
{% endblock %}
