{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/activity.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="title-container">
        <div id="title">
            <div class="title-span">Activity Report</div>
            <div class="title-span-small">History and record of commands for <span class="text-success">{{ app.user.username }}</span></div>
        </div>
    </div>
    <div class="title-spacer"></div>
</div>

    <!-- display pending command boxes -->
    <div class="activity-container">
        {#<div class="subheading-container">
            <div class="subheading">Pending commands</div>
        </div>
        <div class="subheading-spacer"></div>#}
        <div class="subheading">Pending commands</div>
        <hr>
        <div class="small-spacer"></div>
        <div class="command-container">
        {% if pendingCommands %}
            {% for command in pendingCommands %}
                <div class="pending-command command-block table-responsive" data-toggle="modal" data-target="#Modal-{{ command.otp }}">
                    <div class="command-header">
                        {{ command.creationTime|date }}
                    </div>
                    <hr>
                    <table class="table-striped cmd-table p-0">
                        {#<tr><td>Type</td></tr>#}
                        {% for target in command.target %}
                            <tr><td>{{ target }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
            {% else %}
            {#<div class="subsubheading"> No currently pending commands.</div>
                <a href="{{ path('app_scan') }}"> Create some here >></a>#}
                <a id="makeScan" href="{{ path('app_scan') }}">
                    <div id="makeScanContainer" class="sys-info very-small-spacer">
                        <svg class="detected bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                        </svg>
                        There are no <b>pending commands</b>.<br>
                        <b>Click here</b> to create a <b>new scan</b>.
                    </div>
                </a>
                <div class="subheading"></div>

        {% endif %}
        </div>
        <div class="spacer"></div>
    </div>

    <!-- display completed command boxes -->
    <div class="activity-container">
        {#<div class="subheading-container">
            <div class="subheading">Completed commands</div>
        </div>
        <div class="subheading-spacer"></div>#}
        <div class="subheading">Completed commands</div>
        <div class="command-container">
        {% for weekCommands in completeCommandsByWeek %}
            <div class="small-spacer"></div>
            {# if the value is a scan, this will be null, since that entity doesn't have a .completionTime#}
            {% if((weekCommands|first).completionTime|default(null))%}
                <div class="subsubheading">Week {{ (weekCommands|first).completionTime|date("W, M, Y") }}</div>
            {% else %}
                <div class="subsubheading">Week {{ (weekCommands|first).command.completionTime|date("W, M, Y") }}</div>
            {% endif %}
            <hr>
            {% for command in weekCommands %}
                {# do a discovery display and a scan display #}
                {% if(command.completionTime|default(null)) %}
                    {# discovery display here #}

                    <a href="{{ path('command_view', { 'slug': command.otp })}}">
                        <div id="{{ command.otp }}" class="command-block table-responsive bg-color-not-important">
                            <div class="command-header">
                                {{ command.creationTime|date }}
                            </div>
                            <hr>
                            <table class="table-striped cmd-table p-0">
                                {# if it's a discovery/scan{% if command %}#}
                                <tr><td>Discovery</td></tr>
                                {% for target in command.target %}
                                    <tr><td>{{ target }}</td></tr>
                                {% endfor %}
                                <tr><td>{{ command.completionTime|date }}</td></tr>
                            </table>
                        </div>
                    </a>

                {% else %}
                    {# scan display goes here #}

                    <a href="{{ path('scan_view', { 'slug': command.md5 })}}">
                        <div id="{{ command.md5 }}" class="command-block table-responsive">
                            <div class="command-header">
                                {{ command.command.creationTime|date }}
                            </div>
                            <hr>
                            <table class="table-striped cmd-table p-0">
                                {# if it's a discovery/scan{% if command %}#}
                                <tr><td>Scan</td></tr>
                                <tr><td>{{ command.host.address }}</td></tr>
                                <tr><td>{{ command.command.completionTime|date }}</td></tr>
                            </table>
                        </div>
                    </a>

                {% endif %}

            {% endfor %}
        {% endfor %}
        </div>
    </div>

    <!-- modal box for canceling a pending command -->
    {% if pendingCommands %}
    {% for command in pendingCommands %}
    <div class="modal fade" id="Modal-{{ command.otp }}" tabindex="-1" role="dialog" aria-labelledby="Modal-{{ command.otp }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cancel pending command?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">This command is <b>currently pending</b> and has not been completed.
                    <hr class="small-spacer">
                    Would you like <b>to cancel</b> this pending command?<br>
                    {# provide links to make a strong password  - (?) button #}
                    This action cannot be undone.
                    <hr class="small-spacer">
                    <a id="{{ command.otp }}" {#href="{{ path('command_update_cancel', { 'slug': command.otp }) }}"#} data-dismiss="modal" aria-label="Close" type="button" class="confirmCancel btn btn-success" >Cancel Pending Command</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/activity_func.js') }}"></script>
{% endblock %}
