{% extends 'base.html.twig' %}

{# Todo (extensions)
    4. Button to make password visible.
#}

{% block title %}Log In :: Polaris :: Automated vulnerability assessments{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="title-container">
        <div id="title">
            <div class="title-span">Returning user Log In</div>
            <div class="title-span-small">Log in to your existing <span class="text-success">Polaris account.</span></div>
        </div>
    </div>
    <div class="title-spacer"></div>
    <div class="spacer"></div>

<form class="container vertical-center align-self-center align-middle" method="post">
    {% if error %}
        <div id="pendingInfoBox" class="infobox very-small-spacer bg-danger vertical-center align-self-center align-middle">
            <button id="closeErrorInfo" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <svg class="infologo bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
            </svg>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        <div id="pendingInfoSpacer" class="subheading"></div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h5 class="h5 mb-3 font-weight-normal text-center"> Sign in to continue to your account.</h5>
    <hr>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username or email address" required autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <br>
        <input type="checkbox" name="_remember_me"> Keep me logged in.
        <button class="btn btn-lg btn-primary btn-block form-control" type="submit">
            Sign in
        </button>
    <hr>
    Don't have an account? <a href="{{ path('app_register') }}">Create one.</a>
    <!--</div>-->
</form>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}