<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/polaris.ico') }}" />

        <!-- Bootstrap CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/general.css') }}">
        {% endblock %}

    </head>
    <body>

        <!-- anything I want to put above normal content i.e Navbar -->
        <!-- will vary on login status -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            {% if (app.user) %}
                <a class="navbar-brand" href="{{ path('app_host') }}">Polaris</a>
            {% else %}
                <a class="navbar-brand" href="{{ path('app_root_root') }}">Polaris</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                {% if (app.user) %}
                    <!-- add an {if url = /host/something } hosts says active and lights up? -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_host') }}">Hosts</a>
                    </li>
                    <li class="nav-item">
                        <!-- Add/Remove reports -->
                        <a class="nav-link" href="{{ path('app_activity') }}">Activity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_scan') }}">Scan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">&emsp;&emsp;</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_download')}}" class="navbar-item btn py-lg-2 ml-auto btn-success" role="button">Download!</a>
                    </li>
                </ul>
                    <!-- making a new navbar class so everything inside is on the right-->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <!-- removed nav-link from below -->
                        <a class="navbar-item btn dropdown-toggle py-lg-2 ml-auto btn-outline-success" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!-- Could say the literal username here -->
                            <!--My account-->
                            {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <!-- allow changing associated email/picture? here -->
                            <a class="dropdown-item" href="{{ path('app_account') }}">Profile</a>
                            <!-- configuration stuff, My home network is 10.0.0.0/8 or 192.x.x.x
                            <a class="dropdown-item" href="#">Settings</a>-->
                            <hr>
                            <a class="dropdown-item" href="{{ path('app_logout')}}">Log Out</a>
                        </div>
                    </li>
                </ul>

                    <!-- is this better HCI? <button class="btn btn-outline-success py-lg-2 ml-auto" type="submit">Log Out</button>-->
                {% else %}
                    <a class="navbar-item btn btn-outline-success py-lg-2 ml-auto" href="{{ path('app_login')}}" id="navbarDropdownMenuLink" role="button">Log In</a>
                    <!--<button class="btn btn-outline-success py-lg-2 ml-auto" type="submit">Log In</button>-->
                {% endif %}
            </div>
        </nav>


        {% block body %}{% endblock %}
        <!-- Stuff I want to put below normal content i.e Footer -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.5.0.min.js"
                    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
                    crossorigin="anonymous"></script>
            {#<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
<!-- template src https://getbootstrap.com/docs/4.4/getting-started/introduction/ -->
</html>