{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ report.id }}</td>
            </tr>
            <tr>
                <th>Record</th>
                <td>{{ report.record }}</td>
            </tr>
            <tr>
                <th>CreationTime</th>
                <td>{{ report.creationTime }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('report_index') }}">back to list</a>

    <a href="{{ path('report_edit', {'id': report.id}) }}">edit</a>

    {{ include('report/_delete_form.html.twig') }}
{% endblock %}
