{% extends 'base.html.twig' %}

{# Todo
    1. Require re-verifying login to access this page
#}

{% block title %}Polaris :: {{ app.user.username }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/host.css') }}">
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="title-container">
            <div id="title">
                <div class="title-span">Account View</div>
                <div class="title-span-small">Information and statistics for <span class="text-success">{{ app.user.username }}</span></div>
            </div>
        </div>
        <div class="title-spacer"></div>

        <div class="subheading">Account information</div>

        {#From this page you can review your account information, and update any changes necessary.#}
        <hr>
        <table>
            <tr>
                <td>Username:&emsp;&emsp;</td>
                <td><input type="text" disabled value="{{ app.user.username }}"></td>
            </tr>
            <tr>
                <td>Email address:&emsp;&emsp;</td>
                <td><input type="text" disabled value="{{ app.user.email }}"></td>
            </tr>
        </table>
        <p></p>
            <div class="spacer subheading">Account activity</div>
        <hr>
        <a href="{{ path('app_host') }}">
        <div class="sys-info accountStats table-responsive">
            <table class="sys-table table-striped">
                <tr>
                    <td class="p-2">Discovered hosts:&emsp;&emsp;&emsp;&emsp;</td>
                    <td><b>{{ hostCount }}</b></td>
                </tr>
                <tr>
                    <td class="p-2">Available assessments:&emsp;&emsp;&emsp;&emsp;</td>
                    <td><b>{{ scanCount }}</b></td>
                </tr>
            </table>
        </div>
        </a>
        <div class="very-small-spacer"></div>
        <a href="{{ path('app_activity') }}">
        <div class="sys-info accountStats table-responsive">
            <table class="sys-table table-striped">
                <tr>
                    <td class="p-2">Pending commands:&emsp;&emsp;&emsp;&emsp;</td>
                    <td><b>{{ pendingCount|length }}</b></td>
                </tr>
                <tr>
                    <td class="p-2">Completed commands:&emsp;&emsp;&emsp;&emsp;</td>
                    <td><b>{{ completeCount|length }}</b></td>
                </tr>
            </table>
        </div>
        </a>
    </div>
{% endblock %}
