{% extends 'base.html.twig' %}

{% block title %}Hello ScanController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/activity.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="title-container">
            <div id="title">
                <div class="title-span">Scan Builder</div>
                <div class="title-span-small"><span class="text-success">Discover and scan hosts</span> on your network</div>
            </div>
        </div>
        <div class="title-spacer"></div>
    </div>

    {% if(CommandForm|default(null)) %}
        {{ form_start(CommandForm)}}
        {{ form_widget(CommandForm.module, { 'attr': {'style': 'display:none'}}) }}
        {{ form_widget(CommandForm.options, { 'attr': {'style': 'display:none'}}) }}
        {{ form_widget(CommandForm.target, { 'attr': {'style': 'display:none'}}) }}
{#{{ form_row(CommandForm.name, { 'attr': {'style': 'display:none'}}) }}
{#{% do CommandForm.target.setRendered %}#}

    <!-- display Scan Type boxes -->
    <div class="activity-container">
        <div class="subheading">Scan Type</div>
        <hr>
        <div class="small-spacer"></div>
        <div id="SelectType" class="command-container">
            <div id="SelectHost" class="scan-type command-block bg-color-not-important">
                <div class="command-header fill-box">
                    <b>Host Discovery</b>
                </div>
            </div>
            <div id="SelectScan" class="scan-type command-block">
                <div class="command-header fill-box">
                    <b>Vulnerability Scan</b>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>

    <!-- display config boxes -->
    <div class="activity-container">
        <div class="subheading">Configuration</div>
        <hr>
        <div class="small-spacer"></div>

        <!-- vuln scan options -->
        <div id="SelectScanConf" class="command-container" style="display:none">
            <div id="SelectScanNormal" class="scan-type command-block">
                <div class="command-header fill-box">
                    <b>Standard Scan</b>
                </div>
                Scans top 1000 most common ports.
                <b>(Recommended)</b>
            </div>
            <div id="SelectScanFast" class="scan-type command-block">
                <div class="command-header fill-box">
                    <b>Quick Scan</b>
                </div>
                Faster completion, less detections.
                Potential for missed data and crashes.
            </div>
            <div id="SelectScanAll" class="scan-type command-block">
                <div class="command-header fill-box">
                    <b>Complete Scan</b>
                </div>
                Slowest completion, detects everything.
                Scans entire range of ports.
            </div>
        </div>

        <!-- host discovery scan options -->
        <div id="SelectHostConf" class="command-container" style="display:none">
            <div id="SelectHostNormal" class="scan-type command-block">
                <div class="command-header fill-box">
                    <b>Standard Scan</b>
                </div>
                Slower results, more accurate detections.<br>
                <b>(Recommended)</b>
            </div>
            <div id="SelectHostFast" class="scan-type command-block">
                <div class="command-header fill-box">
                    <b>Quick Scan</b>
                </div>
                Faster results, less detections.
                Potential for missed data and crashes.
            </div>
        </div>



        <div class="spacer"></div>
    </div>

    <!-- display target boxes -->
    <div class="activity-container">
        <div class="subheading">Target</div>
        <hr>
        <div class="small-spacer"></div>

        <!-- scan target -->
        <div id="SelectScanTarget" class="command-container" style="display:none">
            <select class="custom-select" id="scanSelect">
                {% for host in hosts %}
                        <option id="{{ host.address }}">{{ host.note }} : {{ host.address }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- host discovery scan options -->
        <div id="SelectHostTarget" class="command-container" style="display:none;vertical-align: top;">
            <div id="hostRange" class="scan-type command-block">
                <div class="command-header fill-box">
                    <b>Address Range</b>
                </div>
                <input  id="hostRangeInput" type="text" class="form-control">
            </div>
            <p></p>
            <div  id="hostAll" class="scan-type command-block">
                <div class="command-header fill-box">
                    <b>All Hosts</b>
                </div>
            </div>
        </div>
        <hr class="spacer">
            <button id="submitBtn" class="btn btn-lg btn-success" type="submit" style="display:none">
                Scan
            </button>
        <div class="spacer"></div>
    </div>
            {{ form_end(CommandForm) }}
        {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/scan_func.js') }}"></script>
{% endblock %}