.activity-container{
    margin: 1em auto;
    max-width: 60vw;
}
.command-block{
    display: inline-block;
    padding: 1rem;
    width: 250px;
    border: solid #222222;
    background-color: #FFFFFF;
    cursor: pointer;
}
.command-block:hover {
    background: #28a745;!important;

}
/*.table-hover tbody tr:hover td {
    background: #28a745;
}*/

.cmd-table{
    width: 100%;
    height: 100%;
}
/*.command-container{
    width: 60vw;
    position: relative;
    left: calc(-30vw + 30%);
}*/
.command-container{
    margin: auto;
    max-width: 60vw;
}

/*.subheading{
    width: 50vw;
    position: relative;
    left: calc(-40vw + 50%);
    margin: 0rem;
    padding: 1rem;
}
.subheading-container{
    height: 4rem;
    position: absolute;
    left: 0;
    width: 100vw;
    max-width:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.subheading-spacer{
    height: 4rem;
}*/
.subsubheading{
    font-weight: bold;
}
.subheading-hr{
    width: 75vw;
    position: relative;
    /*
    -50vw is how far back to the side (do change)
    50% is be in the middle of the page (don't change)
    left: calc(-50vw + 50%);
     */
    left: -15vw;
    margin-top: 0;
    margin-bottom: 2rem;
}
.popover{
    border: solid #222222;
    background-color: #FFFFFF;
}
.popover-header{
    background: #ffc107; !important;
}
.cmd-cancel-btn{
    float: right;
}
.close{
    margin-top: -0.4rem;
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
.bg-color-not-important{
    background-color: #ffc107;
}
.sys-info{
    padding: 1rem;
    width: 32rem;
    border: solid #222222;
    background-color: #FFFFFF;
    font: 18px/1.5 sans-serif;
}
#makeScanContainer{
    background-color: #ffc107;
}
.detected{
    margin-top: -0.3rem;
    display: flex;
    height: 4rem;
    width: 4rem;
    float: left;
    margin-right: 1rem;
}
#makeScanContainer:hover{
    background: #28a745;!important;
}

.fill-box{
    height: 3rem;
}

.selected-type{
    background: #28a745;
}
label{
    font-style: inherit;
    margin: 0;
}
/*
input{
    font-style: inherit;
    margin: 0;
    padding-left: 0;
}*/