/*
Todo
    1. Set Max size of all elements
    2. Might improve HCI if Dropdown box had a fixed location
    3. Ext : Mobile responsive design?
*/
body{
    overflow-x: hidden;
    padding-top: 4.5rem;
    background-color: #e0e0e0;
}
.small-spacer{
    margin-top: 2rem;
}
.title-container{
    /*border: #222222 1rem solid;*/
    background-color: #222222;
    width: 100vw;
    max-width:100%;
    position:absolute;
    left:0;
    right:0;
    top: 4.5rem;
    height: 14rem;
    font-style: normal;
}
#title{
    text-align: center;
    font-size: 2.7rem; !important;
    font-weight: bold;
    color: #e0e0e0;
    height: 100%; !important;
    line-height: 100%; !important;
    margin: 3.8rem auto;
    /*max-width: 1000px;*/
    /*width: 95%;*/
}
.title-span{
    font-size: 4rem; !important;
    margin-bottom: 1.7rem;
    /*line-height: 0.6rem; !important;*/
}
.title-span-small{
    margin-bottom: 0.5rem;
    /*line-height: 0.6rem; !important;*/
}
.title-spacer{
    height: 14rem;
}
.subheading{
    font-size: 1.5rem; !important;
    font-weight: bold;
    margin-bottom: 1.7rem;
}
.example-wrapper{
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}
.subsubheading{
    font-weight: bold;
}
.spacer {
    margin-top: 4rem;
}
.navbar{
    height: 4.5rem;
    /*
    4.5rem seems to be the same as github, is nice and readable
    height: 70px;*/
    font-size: 1.25rem; !important;
    padding-left: 2rem; !important;
    padding-right: 2rem; !important;
    background-color: #222222; !important;
}

.navbar-item{
    font-size: 1.25rem; !important;
    padding-left: 2rem; !important;
    padding-right: 2rem; !important;
}

.navbar-nav{
    padding-left: 2rem; !important;
}

#navbarDropdownMenuLink{
    /* is this too big? It's definitely more readable + more uniform*/
    font-size: 1.25rem; !important;
}

.dropdown-menu{
    margin-top: 0.35rem;
    /*margin-left: -1.25rem; !important;*/
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    /*min-width: 2rem; !important;
    margin-right: 2rem; !important;
    /*width: 8rem; !important;*/
    font-size: 1.05rem; !important;
}

.navbar-brand{
    /*font-size: 5.5rem; !important;*/
    font-size: 4rem;
    padding-top: 0px;
    margin-top: -0.5rem;
}

.very-small-spacer{
    margin-top: 0.5rem;
}