/*body{
    padding-top: 4.5rem;
    background-color: #222222;
}*/

/*title content*/
.home-title-container{
    background-color: #222222;
    width: 100vw;
    max-width:100%;
    position:absolute;
    left:0;
    right:0;
    top: 4.5rem;
    height: 38rem;
    font-style: normal;
}
.home-title-spacer{
    height: 38rem;
}

.intro-row{
    padding-top: 1rem;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 4rem;
}

.title-square{
    height:5rem;
    width:5rem;
    float:left;
    background-color: #28a745;
}

.intro-left{
    width: 50vw;
    margin-left: 5vw;
    /*border: #5eb5e0 1px solid;*/
    float:left;
}
.intro-right{
    width: 35vw;
    margin-left: 55vw;
    /*border: #e03694 1px solid;*/
    /*display: block;
    float:right;*/
}
.intro-container{
    margin-top: 5rem;
    width: 100vw;
    margin-left: 0;

    /*display: inline;*/
    /*border: #B0413E 1px solid;*/
}

.right-jumbo{
    padding-top: 3rem;
    color: #222222;
    padding-bottom: 3rem;
}
.form-control {
    margin-top: 10px;
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
.main-container{
    margin-top: 5rem;

    /*display: inline;*/
    /*border: #B0413E 1px solid;*/
}
.feature-img-l{
    height: 200px;
    width: 200px;
    margin-right: 2rem;
    float: left;
}
.feature-img-r{
    height: 200px;
    width: 200px;
    margin-top: -4rem;
    margin-left: 2rem;
    float: right;
}
.feature{
    /*height: 300px;*/
    display: block;
    padding-bottom: 2rem;
}
.main-container-title{
    font-size: 2rem;
    font-weight: bold;
}
.desc{
}
.endbox{
    width: 100vw;
    height: 8rem;
    background-color: #222222;
    padding-top: 2rem;
}
.endbtn{
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    height: 3rem;
}
/*.jumbotron{
    padding: 4rem;
    height: 60vh;
}*/