.note-box {
    margin-top: 0px;
    padding: 0px;
    border: 0px;
    height: 1.5rem;
}
.card-color{
    height: 2.5rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.card{
    /*border: 0.2rem solid #F2F2F2;*/
    border: solid #222222;
}
.card-title{
    height: 1.5rem;
}
.row{
    margin-left: -13rem;
    margin-right: -13rem;
}
.form-control-plaintext{
    font-size: 1.25rem;
}

.card-table{
    width: 100%;
}

.rounded-circle{
    margin: 0 auto;
    height: 3rem;
    width: 3rem;
    border-style: solid;
    border-radius: 1rem;
    border-color: #222222;
    align-items: center;
    display: flex;
    justify-content: center; !important;
}
.sys-info{
    padding: 1rem;
    width: 32rem;
    min-width: 32rem;
    border: solid #222222;
    background-color: #FFFFFF;
}
.sys-table{
    width: 100%;
    height: 100%;
}

.vuln-cat{
    text-align: center;
    width: 50%;
    display: block;
    height: 6rem;
}

.vuln-group{
    width: 32rem;
    border: solid #222222;
}

/*.small{
    height: 1.5rem;
    width: 1.5rem;
    background-image : url("/images/info-circle-fill.svg");
    background-size:100% 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}*/

.vuln-info{
    cursor: pointer;
}

.modal-body{
    font-size: 14px;
}

.addon-box{
    border-top: none;
}

.table-hover tbody tr:hover td {
    background: #28a745;
}

.cve-row{
    cursor: pointer;
}

.detected{
    margin-top: -0.3rem;
    display: flex;
    height: 4rem;
    width: 4rem;
    float: left;
    margin-right: 1rem;
}


#gotoRecentLink{
    color: inherit;
    text-decoration: none;
}
#gotoRecentLink:hover, #gotoRecentLink:focus {
    color: inherit;
    text-decoration: none;
}
#gotoRecentContainer{
    background-color: #ffc107;
}
#gotoRecentContainer:hover{
    background: #28a745;!important;
}

#scanSelect{
    border: solid #222222;
    background-color: #FFFFFF;
    padding: 0 0 0 1rem;
    margin: 0;
}
#detectedServices{
    width: 50rem;
}
.servName{
    /*max-width: 16rem;*/
    /*min-width: 12rem;*/
}
.servProd {
    /*max-width: 24rem;*/
    /*min-width: 12rem;*/
}

.servInfo{
    padding: 1rem;
    display: table-cell;
    /*width: 32rem;*/
    min-width: 32rem;
    border: solid #222222;
    background-color: #FFFFFF;
}
.servRow{
    /*display: inline-block;*/
    min-width: 30rem;
}
h2{
    margin-top: 0.5rem;
}

hr{
    margin-bottom: 0.5rem;
}

svg{
    color: #222222;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
.accountStats:hover{
    background-color: #28a745; !important;
}
#newScanBox{
    cursor: pointer;
    background-color: #ffc107;
}
#newScanBox:hover{
    background: #28a745;!important;
}