html,
body {
    height: 100%;
}

body {
    display: flex;
}

::marker {
    /*display: none;
    content: "There was a problem creating your account <br>Error : ";*/
    content: "";
}

.container{
    /* Testing options, visible outline
    outline-color: #343a40 !important;
    outline-style: solid;
    outline-width: thick;
    outline-offset: 5vh;*/
    width: 500px;
}
.form-control {
    margin-top: 10px;
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
.infobox{
    padding: 1rem;
    width: 470px;
    border: solid #222222;
    background-color: #FFFFFF;
    font: 18px/1.5 sans-serif;
    height: 6rem;
}
.infologo{
    margin-top: -0.2rem;
    display: flex;
    height: 4rem;
    width: 4rem;
    float: left;
    margin-right: 1rem;
}
/*.errormsg{
    list-style-position: unset;
}*/
/*.label{
    margin-top: 30% !important;
}*/