{% extends 'base.html.twig' %}

{% block title %}Registration Complete :: Polaris :: Automated vulnerability assessments{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="title-container">
        <div id="title">
            <div class="title-span">Registration Complete</div>
            <div class="title-span-small">Thank you for <span class="text-success">registering!</span></div>
        </div>
    </div>
    <div class="title-spacer"></div>
    <div class="spacer"></div>
    Your account <b>{{ username }}</b>,<br>
    {% if (email) %}
    with the email address : {{ email }},<br>
    {% endif %}
    <hr class="spacer">
    Has been successfully created!<br>

    Please <a href="{{ path('app_login') }}">click here</a> to login to your account.
</div>
{% endblock %}
