{% extends 'base.html.twig' %}

{% block title %}Register :: Polaris :: Automated vulnerability assessments{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="title-container">
            <div id="title">
                <div class="title-span">Account Registration</div>
                <div class="title-span-small">Create an account to start <span class="text-success">exploring your network!</span></div>
            </div>
        </div>
        <div class="title-spacer"></div>
        <div class="spacer"></div>

        {{ form_start(registrationForm, {'attr': {'class': 'container vertical-center align-self-center align-middle'}}) }}
        {% if form_errors(registrationForm.username) %}
            <div id="pendingInfoBox" class="infobox very-small-spacer bg-danger vertical-center align-self-center align-middle">
                <button id="closeErrorInfo" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <svg class="infologo bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                </svg>
                {{ form_errors(registrationForm.username, {'attr': {'class': 'errormsg'}}) }}
            </div>
            <div id="pendingInfoSpacer" class="subheading"></div>
        {% elseif form_errors(registrationForm.email) %}
            <div id="pendingInfoBox" class="infobox very-small-spacer bg-danger vertical-center align-self-center align-middle">
                <button id="closeErrorInfo" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <svg class="infologo bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                </svg>
                {{ form_errors(registrationForm.email, {'attr': {'class': 'errormsg'}}) }}
            </div>
            <div id="pendingInfoSpacer" class="subheading"></div>
        {% elseif form_errors(registrationForm.plainPassword.first) %}
            <div id="pendingInfoBox" class="infobox very-small-spacer bg-danger vertical-center align-self-center align-middle">
                <button id="closeErrorInfo" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <svg class="infologo bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                </svg>
                {{ form_errors(registrationForm.plainPassword.first, {'attr': {'class': 'errormsg'}}) }}
            </div>
            <div id="pendingInfoSpacer" class="subheading"></div>
        {% elseif form_errors(registrationForm.plainPassword.second) %}
            <div id="pendingInfoBox" class="infobox very-small-spacer bg-danger vertical-center align-self-center align-middle">
                <button id="closeErrorInfo" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <svg class="infologo bi bi-exclamation-circle-fill" viewBox="0 0 16 16" fill="currentColor">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
                </svg>
                {{ form_errors(registrationForm.plainPassword.second, {'attr': {'class': 'errormsg'}}) }}
            </div>
            <div id="pendingInfoSpacer" class="subheading"></div>
        {% endif %}

        <!--<div class="container vertical-center align-self-center align-middle">-->
    <h5 class="h5 mb-3 font-weight-normal text-center"> Register to create an account.</h5>
    <hr>

        {{ form_widget(registrationForm.username, {'attr': {'placeholder' : 'Username', 'class': 'form-control'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'placeholder' : 'Email (not required)', 'class': 'form-control'}}) }}
        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder' : 'Password', 'class': 'form-control'}}) }}
        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder' : 'Confirm password', 'class': 'form-control'}}) }}

        <button class="btn btn-lg btn-primary btn-block form-control" type="submit">
            Create account
        </button>
    <hr>
    Already have an account? <a href="{{ path('app_login') }}">Log in.</a>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
